<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaocai.mybatis.test.module.mapper.KBTestMapper">

    <select id="test" resultType="java.lang.Long">
        select id from mm_inpayment_ti where to_char(INPAYMENTDATE, 'yyyy-MM-dd') = to_char(now(),  'yyyy-MM-dd')
    </select>


    <update id="testTemporaryTable" >

        create temporary table mm_temp_handover_events_td
                ( listno           bigint(30) not null,
                  subcompany       varchar(20) not null,
                  unitcode         varchar(20) not null,
                  oldno            bigint(30) not null,
                  newno            bigint(30) not null,
                  fatherno         bigint(30),
                  sonno            bigint(30),
                  businessone      char(3) not null,
                  businesstwo      char(3) not null,
                  opcode           varchar(15) not null,
                  opdatetime       datetime not null,
                  agentcode        varchar(300),
                  departmentcode   varchar(20) not null,
                  currencycode     varchar(10) not null,
                  insuredcode      varchar(300) not null,
                  insuredname      varchar(3000),
                  insurencecount   bigint(30),
                  amount           decimal(16,2) not null,
                  basecurrencycode varchar(10) not null,
                  baseamount       decimal(16,2) not null,
                  businessattr     varchar(3) not null,
                  businesschannel  varchar(30),
                  hasplan          char(1) not null,
                  classescode      varchar(100) not null,
                  risktype         char(2) not null,
                  customercode     varchar(300),
                  customername     varchar(3000),
                  transactorcode   varchar(100) not null,
                  signdatetime     datetime,
                  startdatetime    datetime not null,
                  enddatetime      datetime not null,
                  policyno         varchar(80),
                  endorseno        varchar(80),
                  claimno          varchar(80),
                  returnno         varchar(100),
                  auditstatus      char(1) not null,
                  dailyauditno     varchar(100),
                  checkdatetime    datetime,
                  auditdatetime    datetime,
                  opstatus         char(1) not null,
                  datasource       varchar(30) not null,
                  timestamp        datetime not null,
                  lastopdatetime   datetime not null,
                  inputdatetime    datetime not null,
                  hibernateversion bigint(30) not null,
                  issplitted       varchar(1),
                  summaryno        varchar(60),
                  modifydesc       varchar(600),
                  tounitcode       varchar(20),
                  newdetailno      bigint(30) default 0 not null,
                  olddetailno      bigint(30) default 0 not null,
                  excangerate      decimal(16,8),
                  groupflag        varchar(10),
                  businessno       varchar(60),
                  businesssource   varchar(10),
                  grouptype        varchar(10),
                  batchnumber  varchar(30),
                  outdatasource    varchar(30),
                  customersource   varchar(30),
                  agenttype        varchar(2),
                  farmflagcode     varchar(100),
                  premiumsource    varchar(30),
                  useporperty      varchar(30),
                  vehkind          varchar(8),
                  characteristics  varchar(100),
                  farmtypedetail   varchar(100),
                  farmflag         varchar(100),
                  farpolicytype    varchar(1),
                  carusetype       varchar(10),
                  primary key(listno)
                )
    </update>

</mapper>
