<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaocai.mybatis.test.module.mapper.KBTestMapper">

    <select id="test" resultType="java.lang.Long">
        select id from mm_inpayment_ti where to_char(INPAYMENTDATE, 'yyyy-MM-dd') = to_char(now(),  'yyyy-MM-dd')
    </select>
</mapper>
