<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Small Spider</title>
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" />

</head>
<style>
    .table th, .table td {
        vertical-align: middle!important;
    }
    .table th, .table td.middle {
        text-align: left;
        vertical-align: middle!important;
    }


    .navbar-custom {
        background-color: rgba(104, 216, 227, 0.97);
    }
    /* 自定义brand和文字颜色 */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: rgba(255,255,255,.8);
    }
    /* 自定义链接颜色 */
    .navbar-custom .navbar-nav .nav-link {
        color: rgba(255,255,255,.5);
    }
    /* 自定义激活或者悬停的链接颜色 */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: #ffffff;
    }

    .title-custom{
        color-adjust: economy;
        font-size: medium;
    }
    .title-custom:hover{

    }
    .btn-info-custom {
        /*color: #fff;
        background-color: #5bc0de;
        border-color: #46b8da;*/
        color: #fff;
        background-color: #31b0d5;
        border-color: #269abc;
    }

   .btn-info-custom:hover {
        color: #fff;
        background-color: #31b0d5;
        border-color: #269abc;
    }

    .panel-group {
        margin-bottom: 10px;
    }
</style>
<body>

<div class="container">

    <nav class="navbar navbar-custom">
        <div class="container-fluid  ">
            <div class="container">
                <div class="navbar-header ">
                    <a class="navbar-brand" href="#">
                        <img alt="small-spider" width="24" height="24" src="https://cdn.jsdelivr.net/gh/small-rose/small-rose.github.io@master/medias/logo-3.png" />
                    </a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class=" "><a class=" title-custom">Small Spider</a></li>
                        <!--<li><a href="#">SVN</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                asp.net
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">asp.net初级</a></li>
                                <li><a href="#">asp.net初级</a></li>
                                <li><a href="#">asp.net初级</a></li>
                            </ul>
                        </li>-->
                    </ul>
                </div></div>
        </div>
    </nav>
    <hr/>

    <!--/*@thymesVar id="ruleList" type="java.util.ArrayList"*/-->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" th:each="rule:${ruleList}">
        <div class="panel panel-default panel-success" >
            <div class="panel-heading bg-success" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" th:href="'#collapseOne'+ ${rule.id}" aria-expanded="true" aria-controls="collapseOne">
                        <span th:text="${rule.door}"></span>
                    </a>

                </h4>
            </div>
            <!-- .collapse in show the content-->
            <div id="collapseOne" th:id="'collapseOne'+ ${rule.id}" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body panel-info">
                    <!--<button> 抓取 </button>-->
                    <table class=" table">
                        <tr>
                            <td class="col-sm-2">规则 定义</td>
                            <td class="col-sm-10">
                                <button class="button btn-primary"> 抓取 </button>
                                <button  class="button btn-danger"> 终止 </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="middle">分类</td>
                            <td>
                                <table class=" table">
                                    <thead>
                                    <tr>
                                        <td class="col-sm-2">规则</td>
                                        <td class="col-sm-2">key</td>
                                        <td class="col-sm-4">值</td>
                                        <td class="col-sm-2">规则说明</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>分类CSS坐标</td>
                                        <td>eleLocation</td>
                                        <td>
                                            <!--/*@thymesVar id="category" type="cn.xiaocai.demo.spider.web.vo.Category"*/-->
                                            <!--/*@thymesVar id="categoryName" type="java.lang.String"*/-->
                                            <input type="text"  class="col-sm-4  form-control" name="categoryEleLocation" th:value="${rule.category.eleLocation}">
                                        </td>
                                        <td>抓取分类的坐标</td>
                                    </tr>
                                    <tr>
                                        <td>指定分类</td>
                                        <td>categoryName</td>
                                        <td>
                                            <!--/*@thymesVar id="category" type="cn.xiaocai.demo.spider.web.vo.Category"*/-->
                                            <!--/*@thymesVar id="categoryName" type="java.lang.String"*/-->
                                            <input type="text"  class="col-sm-4  form-control"  name="categoryName" th:value="${rule.category.categoryName}">
                                        </td>
                                        <td>抓取指定分类，多个使用+号连接</td>
                                    </tr>
                                    <tr>
                                        <td>跳过关键字</td>
                                        <td>categorykeys</td>
                                        <td>
                                            <input type="text"  class="col-sm-4  form-control" name="categorSkipKeys" th:value="${rule.category.skipKeys}">
                                        </td>
                                        <td>该配置用于抓取分配时，可以排除所有分类或者广告、登录字样、也可用于排除不需要的分配</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>

                        </tr>
                        <tr>
                            <td  class="middle">分类分页</td>
                            <td>
                                <table class=" table">
                                    <thead>
                                    <tr>
                                        <td class="col-sm-2">规则</td>
                                        <td class="col-sm-2">key</td>
                                        <td class="col-sm-4">值</td>
                                        <td class="col-sm-2">规则说明</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>分类分页CSS坐标</td>
                                        <td>eleLocation</td>
                                        <td>
                                            <!--/*@thymesVar id="category" type="cn.xiaocai.demo.spider.web.vo.CategoryPages"*/-->
                                            <!--/*@thymesVar id="categoryName" type="java.lang.String"*/-->

                                            <input type="text"  class="col-sm-4  form-control" name="CategoryPagesEleLocation" th:value="${rule.CategoryPages.eleLocation}">

                                        </td>
                                        <td>抓取分类的坐标</td>
                                    </tr>
                                    <tr>
                                        <td>跳过关键字</td>
                                        <td>categorykeys</td>
                                        <td>
                                            <input type="text" class="col-sm-4  form-control"  name="CategoryPagesSkipKeys" th:value="${rule.CategoryPages.skipKeys}">
                                        </td>
                                        <td>该配置用于抓取分配时，可以排除重复检索，提高抓取效率，默认值如上一页、下一页，可选配置</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td  class="middle">图组</td>
                            <td>
                                <table class=" table">
                                    <thead>
                                    <tr>
                                        <td class="col-sm-2">规则</td>
                                        <td class="col-sm-2">key</td>
                                        <td class="col-sm-4">值</td>
                                        <td class="col-sm-2">规则说明</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>图组的CSS坐标</td>
                                        <td>eleLocation</td>
                                        <td>
                                            <!--/*@thymesVar id="category" type="cn.xiaocai.demo.spider.web.vo.LinkGroup"*/-->
                                            <!--/*@thymesVar id="categoryName" type="java.lang.String"*/-->

                                            <input type="text"  class="col-sm-4  form-control" name="linkGroupEleLocation" th:value="${rule.linkGroup.eleLocation}">

                                        </td>
                                        <td>抓取分类的坐标</td>
                                    </tr>
                                    <tr>
                                        <td>跳过关键字</td>
                                        <td>skipKeys</td>
                                        <td>
                                            <input type="text"  class="col-sm-4  form-control" name="linkGroupSkipKeys" th:value="${rule.linkGroup.skipKeys}">
                                        </td>
                                        <td>该配置用于抓取图组时，可以剔除广告链接</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td  class="middle">图组分页</td>
                            <td>
                                <table class=" table">
                                    <thead>
                                    <tr>
                                        <td class="col-sm-2">规则</td>
                                        <td class="col-sm-2">key</td>
                                        <td class="col-sm-4">值</td>
                                        <td class="col-sm-2">规则说明</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>图组分页的CSS坐标</td>
                                        <td>eleLocation</td>
                                        <td>
                                            <!--/*@thymesVar id="category" type="cn.xiaocai.demo.spider.web.vo.LinkGroupPages"*/-->
                                            <!--/*@thymesVar id="categoryName" type="java.lang.String"*/-->

                                            <input type="text"  class="col-sm-4  form-control" name="linkGroupPagesEleLocation" th:value="${rule.linkGroupPages.eleLocation}">

                                        </td>
                                        <td>抓取图组分页的css坐标</td>
                                    </tr>
                                    <tr>
                                        <td>跳过关键字</td>
                                        <td>skipKeys</td>
                                        <td>
                                            <input type="text"  class="col-sm-4  form-control" name="linkGroupSkipKeys" th:value="${rule.linkGroupPages.skipKeys}">
                                        </td>
                                        <td>该配置用于抓取图组分页时，可以剔除重复链接，也可以防止抓取时，提取到重复提取邻近图组，默认值有上一组、下一组。前一组。后一组</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td  class="middle">图片提取</td>
                            <td>
                                <table class=" table">
                                    <thead>
                                    <tr>
                                        <td class="col-sm-2">规则</td>
                                        <td class="col-sm-2">key</td>
                                        <td class="col-sm-4">值</td>
                                        <td class="col-sm-2">规则说明</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>图片的CSS坐标</td>
                                        <td>eleLocation</td>
                                        <td>
                                            <!--/*@thymesVar id="category" type="cn.xiaocai.demo.spider.web.vo.PicLink"*/-->
                                            <!--/*@thymesVar id="categoryName" type="java.lang.String"*/-->

                                            <input type="text"  class="col-sm-4  form-control" name="picLinkEleLocation" th:value="${rule.picLink.eleLocation}">

                                        </td>
                                        <td>抓取分类的坐标</td>
                                    </tr>
                                    <tr>
                                        <td>图片链接获取方式</td>
                                        <td>imgSrcKey</td>
                                        <td>
                                            <!--/*@thymesVar id="category" type="cn.xiaocai.demo.spider.web.vo.PicLink"*/-->
                                            <!--/*@thymesVar id="categoryName" type="java.lang.String"*/-->

                                            <input type="text"  class="col-sm-4  form-control" name="picLinkEleLocation" th:value="${rule.picLink.imgSrcKey}">

                                        </td>
                                        <td>提取图片时使用的链接关键词：默认：abs:src, abs:data-original,建议根据网站配置</td>
                                    </tr>
                                    <tr>
                                        <td>跳过关键字</td>
                                        <td>skipKeys</td>
                                        <td>
                                            <input type="text"  class="col-sm-4  form-control" name="picLinkSkipKeys" th:value="${rule.picLink.skipKeys}">
                                        </td>
                                        <td>该配置用于抓取图组的图片时，可以剔除重复链接，也可以防止抓取广告，可选配置</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
       <!-- <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>-->
    </div>

</div>
</body>
</html>